<a href="https://colab.research.google.com/github/AOdrio/Datathon/blob/main/C%C3%B3digo_en_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
library(ggplot2)
#install.packages('dplyr')
library(dplyr)
#install.packages('MASS')
library(MASS)
install.packages('randomForest')
library(randomForest)
install.packages('caret')
library("caret")
library("googledrive")
install.packages("mice")
library(mice)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘listenv’, ‘parallelly’, ‘future’, ‘globals’, ‘future.apply’, ‘progressr’, ‘numDeriv’, ‘SQUAREM’, ‘lava’, ‘prodlim’, ‘proxy’, ‘iterators’, ‘gower’, ‘hardhat’, ‘ipred’, ‘timeDate’, ‘e1071’, ‘foreach’, ‘ModelMetrics’, ‘plyr’, ‘pROC’, ‘recipes’, ‘reshape2’


Loading required package: lattice

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘mice’


The following object is masked from ‘package:stats’:

    filter


The following objects are masked from ‘package:base’:

    cbind, rbind

In [4]:
id <- "1KH1fB83JDAWcMRCHKFf9SmcGH7MQkupE" # google file ID
df <- read.csv(sprintf("https://docs.google.com/uc?id=%s&export=download", id))
head(df)

  X vigente    vigenteAvg3M vencido   vencidoAvg3M avgcontingenciaU1M
1 1   4282.155   4679.336       0.000     0.000     4923.124
2 2   9793.123   9450.927   83970.243 91126.581    20809.053
3 3 531419.702 512057.085       0.000     0.000    36813.149
4 4      0.000      0.000    2266.729  2633.112    11533.815
5 5 112394.057 110856.021       0.000     0.000    41131.334
6 6      0.000      0.000   15136.639 15028.350    38851.830
  avgcontingenciaU3M sumcontingenciaU1M sumcontingenciaU3M maxcontingenciaU1M ⋯
1  3918.527          19692.50           18439.94            6653.07           ⋯
2 19126.816          41618.11           49280.50           30881.25           ⋯
3 46144.419          36813.15           36789.29           36813.15           ⋯
4 10488.339          23067.63           24025.95           19044.72           ⋯
5 42820.024          82262.67           77614.23           43944.58           ⋯
6 36968.398          38851.83           37783.35           38851.83           ⋯
  numerobancosprivados numerobancospublicos numerofinancieras numerobancos
1 1                    0                    3                 1
2 0                    1                    1                 1
3 2                    1                    0                 3
4 4                    0                    0                 4
5 4                    0                    0                 4
6 0                    0                    3                 0
  numerode5ult18meses numerode2Bult18meses numerode3ult18meses edad
1 0                   0                    0                   63
2 4                   0                    2                   67
3 0                   0                    0                   NA
4 4                   2                    3                   NA
5 0                   0                    0                   65
6 9                   0                    1                   NA
  numeromesesreportados ingreso
1 24                     31888.47
2 24                     62341.14
3 24                    100599.76
4 24                     46102.90
5 14                    109419.22
6 24                     59375.89

In [5]:
str(df)

'data.frame':	40000 obs. of  25 variables:
 $ X                    : int  1 2 3 4 5 6 7 8 9 10 ...
 $ vigente              : num  4282 9793 531420 0 112394 ...
 $ vigenteAvg3M         : num  4679 9451 512057 0 110856 ...
 $ vencido              : num  0 83970 0 2267 0 ...
 $ vencidoAvg3M         : num  0 91127 0 2633 0 ...
 $ avgcontingenciaU1M   : num  4923 20809 36813 11534 41131 ...
 $ avgcontingenciaU3M   : num  3919 19127 46144 10488 42820 ...
 $ sumcontingenciaU1M   : num  19692 41618 36813 23068 82263 ...
 $ sumcontingenciaU3M   : num  18440 49280 36789 24026 77614 ...
 $ maxcontingenciaU1M   : num  6653 30881 36813 19045 43945 ...
 $ maxcontingenciaU3M   : num  7996 32794 46144 17864 42820 ...
 $ numcontingenciaU1M   : int  4 2 1 2 2 1 0 2 4 0 ...
 $ garantiacomputable   : num  0 0 0 0 0 0 0 0 0 0 ...
 $ peorcalificacionBCU  : chr  "1C" "3" "1C" "5" ...
 $ numeroinstituciones  : int  4 2 3 4 4 3 2 6 4 1 ...
 $ numerobancosprivados : int  1 0 2 4 4 0 0 0 0 0 ...
 $ numerobancospublicos : int  0 1 1 0 0 0 0 1 0 0 ...
 $ numerofinancieras    : int  3 1 0 0 0 3 2 5 4 1 ...
 $ numerobancos         : int  1 1 3 4 4 0 0 1 0 0 ...
 $ numerode5ult18meses  : int  0 4 0 4 0 9 0 0 0 6 ...
 $ numerode2Bult18meses : int  0 0 0 2 0 0 0 0 0 0 ...
 $ numerode3ult18meses  : int  0 2 0 3 0 1 0 0 0 2 ...
 $ edad                 : int  63 67 NA NA 65 NA 35 38 NA NA ...
 $ numeromesesreportados: int  24 24 24 24 14 24 24 24 21 24 ...
 $ ingreso              : num  31888 62341 100600 46103 109419 ...

In [6]:
#Convertir variables cualitativas

#unique(df$peorcalificacionBCU)
df$peorcalificacionBCU = ifelse(df$peorcalificacionBCU == '1C', 1,
ifelse(df$peorcalificacionBCU == '2A',2, ifelse(df$peorcalificacionBCU == '2B',3,
ifelse(df$peorcalificacionBCU == '3',4, ifelse(df$peorcalificacionBCU == '4',5,6)))))

unique(df$peorcalificacionBCU)

[1] 1 4 6 3 5 2

In [7]:
# Transformación de las variables categóricas en factor

df <- transform(df, peorcalificacionBCU = as.factor(peorcalificacionBCU))

str(df)

'data.frame':	40000 obs. of  25 variables:
 $ X                    : int  1 2 3 4 5 6 7 8 9 10 ...
 $ vigente              : num  4282 9793 531420 0 112394 ...
 $ vigenteAvg3M         : num  4679 9451 512057 0 110856 ...
 $ vencido              : num  0 83970 0 2267 0 ...
 $ vencidoAvg3M         : num  0 91127 0 2633 0 ...
 $ avgcontingenciaU1M   : num  4923 20809 36813 11534 41131 ...
 $ avgcontingenciaU3M   : num  3919 19127 46144 10488 42820 ...
 $ sumcontingenciaU1M   : num  19692 41618 36813 23068 82263 ...
 $ sumcontingenciaU3M   : num  18440 49280 36789 24026 77614 ...
 $ maxcontingenciaU1M   : num  6653 30881 36813 19045 43945 ...
 $ maxcontingenciaU3M   : num  7996 32794 46144 17864 42820 ...
 $ numcontingenciaU1M   : int  4 2 1 2 2 1 0 2 4 0 ...
 $ garantiacomputable   : num  0 0 0 0 0 0 0 0 0 0 ...
 $ peorcalificacionBCU  : Factor w/ 6 levels "1","2","3","4",..: 1 4 1 6 1 4 1 1 1 6 ...
 $ numeroinstituciones  : int  4 2 3 4 4 3 2 6 4 1 ...
 $ numerobancosprivados : int  1 0 2 4 4 0 0 0 0 0 ...
 $ numerobancospublicos : int  0 1 1 0 0 0 0 1 0 0 ...
 $ numerofinancieras    : int  3 1 0 0 0 3 2 5 4 1 ...
 $ numerobancos         : int  1 1 3 4 4 0 0 1 0 0 ...
 $ numerode5ult18meses  : int  0 4 0 4 0 9 0 0 0 6 ...
 $ numerode2Bult18meses : int  0 0 0 2 0 0 0 0 0 0 ...
 $ numerode3ult18meses  : int  0 2 0 3 0 1 0 0 0 2 ...
 $ edad                 : int  63 67 NA NA 65 NA 35 38 NA NA ...
 $ numeromesesreportados: int  24 24 24 24 14 24 24 24 21 24 ...
 $ ingreso              : num  31888 62341 100600 46103 109419 ...

In [8]:
# Evaluando Missing Values

na_count <-sapply(df, function(y) sum(length(which(is.na(y)))))
na_count <- data.frame(na_count)
na_count

                      na_count
X                         0
vigente                   0
vigenteAvg3M              0
vencido                   0
vencidoAvg3M              0
avgcontingenciaU1M        0
avgcontingenciaU3M        0
sumcontingenciaU1M        0
sumcontingenciaU3M        0
maxcontingenciaU1M        0
maxcontingenciaU3M        0
numcontingenciaU1M        0
garantiacomputable        0
peorcalificacionBCU       0
numeroinstituciones       0
numerobancosprivados      0
numerobancospublicos      0
numerofinancieras         0
numerobancos              0
numerode5ult18meses       0
numerode2Bult18meses      0
numerode3ult18meses       0
edad                  11429
numeromesesreportados     0
ingreso                   0

In [ ]:
# Completando Missing Values

mice_imputes = mice(df, m=5, maxit = 50)
#methods(mice)

df = complete(mice_imputes,5)

na_count <-sapply(df, function(y) sum(length(which(is.na(y)))))
na_count <- data.frame(na_count)
na_count

In [10]:
head(df)

  X vigente    vigenteAvg3M vencido   vencidoAvg3M avgcontingenciaU1M
1 1   4282.155   4679.336       0.000     0.000     4923.124
2 2   9793.123   9450.927   83970.243 91126.581    20809.053
3 3 531419.702 512057.085       0.000     0.000    36813.149
4 4      0.000      0.000    2266.729  2633.112    11533.815
5 5 112394.057 110856.021       0.000     0.000    41131.334
6 6      0.000      0.000   15136.639 15028.350    38851.830
  avgcontingenciaU3M sumcontingenciaU1M sumcontingenciaU3M maxcontingenciaU1M ⋯
1  3918.527          19692.50           18439.94            6653.07           ⋯
2 19126.816          41618.11           49280.50           30881.25           ⋯
3 46144.419          36813.15           36789.29           36813.15           ⋯
4 10488.339          23067.63           24025.95           19044.72           ⋯
5 42820.024          82262.67           77614.23           43944.58           ⋯
6 36968.398          38851.83           37783.35           38851.83           ⋯
  numerobancosprivados numerobancospublicos numerofinancieras numerobancos
1 1                    0                    3                 1
2 0                    1                    1                 1
3 2                    1                    0                 3
4 4                    0                    0                 4
5 4                    0                    0                 4
6 0                    0                    3                 0
  numerode5ult18meses numerode2Bult18meses numerode3ult18meses edad
1 0                   0                    0                   63
2 4                   0                    2                   67
3 0                   0                    0                   37
4 4                   2                    3                   55
5 0                   0                    0                   65
6 9                   0                    1                   46
  numeromesesreportados ingreso
1 24                     31888.47
2 24                     62341.14
3 24                    100599.76
4 24                     46102.90
5 14                    109419.22
6 24                     59375.89

In [11]:
# Partición del dataset entre train (80%) y test (20%)

set.seed(27)
df_index = createDataPartition(df$ingreso, p=0.80, list = FALSE)
df_train <- df[df_index, ]
df_test <- df[-df_index, ]

In [14]:
# Preprocesamiento de los datos

set.seed(27)
preprocessData <- preProcess(df_train[,(1:24)], method=c("scale","center"))
df_train2 <- predict(preprocessData, df_train)
df_test2 <- predict(preprocessData, df_test)

In [ ]:
df_test[,25]

In [15]:
# Entrenamiento del modelo Random Forest

rf = randomForest(ingreso ~ ., data = df_train2, mtry = 3, importance = TRUE, ntree = 500)

rf_pred = predict(rf, newdata = df_test2[,-25], type="response")

mse = sqrt(mean((rf_pred - df_test2$ingreso)^2))

In [ ]:
# Optimización del modelo Random Forest

set.seed(27)

k_folds = 5
folds = caret::createFolds(c(1:nrow(df)),k=k_folds)
m = seq(1,10, by=2)
narbol = seq(100, 1000, by = 100)
resultadosrf = data.frame()

set.seed(27)

for (k in 1:k_folds){
  for (j in m){
    for (i in narbol){
      train = df[-folds[[k]],]
      test = df[folds[[k]],]
    rf_opt = randomForest(ingreso ~ ., data = train, mtry = j, importance = TRUE, ntree = i)
    rf_pred_opt = predict(rf_opt, newdata = test[,-1], type="response")
    #rf_tabla_opt = table(ifelse(rf_pred_opt[,2]>f,1,0), test[,1])
    #rf_er_opt = 1- sum(diag(rf_tabla_opt))/sum(rf_tabla_opt)
    result = c("k_folds"=k, "m"=j, "narbol"=i, "error"= rf_er_opt)
    resultadosrf = rbind(resultadosrf, result)
  }
  }
}


resultadosrf <- setNames(resultadosrf,c("k_folds","m","narbol","error"))
resultadosrf_cv <- aggregate(resultadosrf[,4],list(resultadosrf$m,resultadosrf$narbol),mean)
resultadosrf_cv <- setNames(resultadosrf_cv,c("m","narbol","error"))

#View(resultadosrf_cv)

resultadosrf_cv_ord <- resultadosrf_cv[order(resultadosrf_cv$error),]
head(resultadosrf_cv_ord)

In [ ]:
importance(rf)
varImpPlot(rf)

In [ ]:
# Predicción con el modelo optimizado

id <- "1dUb4neNxfSpCGRGucf_A-kcIV5t6QL1gSXDPi4uL2HA" 
df_val <- read.csv(sprintf("https://docs.google.com/uc?id=%s&export=download", id))

df_val$peorcalificacionBCU = ifelse(df_val$peorcalificacionBCU == '1C', 1,
ifelse(df_val$peorcalificacionBCU == '2A',2, ifelse(df_val$peorcalificacionBCU == '2B',3,
ifelse(df_val$peorcalificacionBCU == '3',4, ifelse(df_val$peorcalificacionBCU == '4',5,6)))))

df_val <- transform(df_val, peorcalificacionBCU = as.factor(peorcalificacionBCU))


rf_pred_def = predict(rf_final, newdata = df_val, type="response")
#View(rf_pred_def)

#df_def = data.frame(ifelse(rf_pred_def[,2]>corte,1,0))
df_def <- setNames(df_def, "prediccion")
#View(df_def)

write.csv(x = df_def, file = "df_def.csv", row.names = TRUE)