<a href="https://colab.research.google.com/github/AOdrio/Datathon/blob/main/Prueba%20github.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error

SEED = 17

In [11]:
url='https://drive.google.com/file/d/1KH1fB83JDAWcMRCHKFf9SmcGH7MQkupE/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df_original = pd.read_csv(url)

In [12]:
df_original.head()

,Unnamed: 0,vigente,vigenteAvg3M,vencido,vencidoAvg3M,avgcontingenciaU1M,avgcontingenciaU3M,sumcontingenciaU1M,sumcontingenciaU3M,maxcontingenciaU1M,...,numerobancosprivados,numerobancospublicos,numerofinancieras,numerobancos,numerode5ult18meses,numerode2Bult18meses,numerode3ult18meses,edad,numeromesesreportados,ingreso
0,1,4282.155183,4679.335952,0.000000,0.000000,4923.124484,3918.527125,19692.497937,18439.941778,6653.069810,...,1,0,3,1,0,0,0,63.0,24,31888.466530
1,2,9793.122650,9450.927278,83970.243387,91126.581200,20809.053382,19126.815664,41618.106764,49280.496926,30881.253937,...,0,1,1,1,4,0,2,67.0,24,62341.141710
2,3,531419.701556,512057.084981,0.000000,0.000000,36813.149453,46144.419161,36813.149453,36789.292777,36813.149453,...,2,1,0,3,0,0,0,NaN,24,100599.764680
3,4,0.000000,0.000000,2266.728708,2633.111538,11533.815438,10488.338604,23067.630876,24025.952782,19044.717097,...,4,0,0,4,4,2,3,NaN,24,46102.904895
4,5,112394.057367,110856.020945,0.000000,0.000000,41131.333850,42820.024254,82262.667700,77614.227322,43944.580379,...,4,0,0,4,0,0,0,65.0,14,109419.216020

In [5]:
count_nan_in_df = df_original.isnull().sum()
print (count_nan_in_df)

Unnamed: 0                   0
vigente                      0
vigenteAvg3M                 0
vencido                      0
vencidoAvg3M                 0
avgcontingenciaU1M           0
avgcontingenciaU3M           0
sumcontingenciaU1M           0
sumcontingenciaU3M           0
maxcontingenciaU1M           0
maxcontingenciaU3M           0
numcontingenciaU1M           0
garantiacomputable           0
peorcalificacionBCU          0
numeroinstituciones          0
numerobancosprivados         0
numerobancospublicos         0
numerofinancieras            0
numerobancos                 0
numerode5ult18meses          0
numerode2Bult18meses         0
numerode3ult18meses          0
edad                     11429
numeromesesreportados        0
ingreso                      0
dtype: int64

In [13]:
df = df_original.fillna(df_original.mean(), inplace=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [22]:
df['peorcalificacionBCU'].unique()

array(['1C', '3', '5', '2B', '4', '2A'], dtype=object)

In [ ]:
#FAlta transformar categóricas en numéricas

In [ ]:
y = df.pop("ingreso")
X = df.copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=SEED)

In [23]:
url='https://drive.google.com/file/d/1sMkorQLOmf2cNGRwXkQLKeciGSUpL_ez/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df_test = pd.read_csv(url)
#count_nan_in_df = df_test.isnull().sum()
print (df_test.isnull().sum())

Unnamed: 0                  0
vigente                     0
vigenteAvg3M                0
vencido                     0
vencidoAvg3M                0
avgcontingenciaU1M          0
avgcontingenciaU3M          0
sumcontingenciaU1M          0
sumcontingenciaU3M          0
maxcontingenciaU1M          0
maxcontingenciaU3M          0
numcontingenciaU1M          0
garantiacomputable          0
peorcalificacionBCU         0
numeroinstituciones         0
numerobancosprivados        0
numerobancospublicos        0
numerofinancieras           0
numerobancos                0
numerode5ult18meses         0
numerode2Bult18meses        0
numerode3ult18meses         0
edad                     2802
numeromesesreportados       0
dtype: int64